<% layout('layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="/css/about.css" />
    <div class="about">
        <!-- ------------------------------------ -->
        <div class="upper">
            <div class="logo">
                <div class="image">
                    <div class="camp">
                        <img src="/img/tent.png" alt="" id="tent" />
                        <img src="/img/fire.gif" alt="" id="fire" />
                    </div>
                </div>
            </div>
            <div class="info mt-4 mx-auto">
                <h2>ABOUT <span class="hive">CAMPHIVE</span><i class="fas fa-campground" style="color: #e85d04;"></i>
                </h2>
                <p>
                    Camphive is a web application that allows you to explore campgrounds with detailed information. Once
                    you log in or sign up, you can begin creating your own campgrounds by providing a title, image,
                    address, and description. Start your camping adventure with Camphive today!
                </p>
            </div>
        </div>
        <!-- ------------------------------------ -->
        <div class="lower">
            <div class="info mt-3 mx-auto">
                <h2>ABOUT OUR <span class="hive">TEAM</span></h2>
                <p>
                    Our skilled and passionate team is dedicated to providing you with the best camping experience.
                    We constantly work hard to ensure your experience is seamless and enjoyable. If you have any
                    suggestions, please feel free to reach out to our team. We value your feedback!
                </p>
            </div>
            <div class="slider mt-4">
                <img src="/img/camp1.png" alt="" id="slider" />
            </div>
        </div>
        <!-- ------------------------------------ -->
    </div>

    <script src="/js/about.js"></script>